{% extends 'base.html' %}
 
{% block title %}Recipe List{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Recipes</h2>
        <a href="{% url 'ledger:recipe_add' %}" class="btn btn-primary">Add Recipe</a>
    </div>

    <ul>
        {% for recipe in object_list %}
            <li>
                <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a> by {{ recipe.author }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
