{% extends 'base.html' %}
 
{% block content%}
    <h2>{{ recipe.name }}</h2>
    <h3><b>by</b> {{ recipe.author }}</h3>
    <p><b>Created on</b> {{ recipe.created_on }}</p>
    <p><b>Last Updated on</b> {{ recipe.updated_on }}</p> <br>
    <h4>Ingredients:</h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.Ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>

    <h3>Images</h3>
    {% if recipe.images.all %}
        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}" style="max-width:300px; margin:10px;">
        {% endfor %}
    {% else %}
        <p>No images uploaded for this recipe.</p>
    {% endif %}
    
    <a href="{% url 'recipe_add_image' recipe.id %}">Upload New Image</a>
    
</body>
</html>

    <footer>
        <a href = "{% url 'ledger:recipes_list' %}"> Return</a>
    </footer>
{% endblock%}