<!DOCTYPE html>
<html lang="en-US">
<header>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
</header>
<head>
    <title>Recipe Information</title>
</head>
<body>  
    <h1>Recipe Book</h1>
    <h2>{{ recipe.name }}</h2>
    <h3>by {{ recipe.author }}</h3> <br>
    <h4>Ingredients:</h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.Ingredient.name }} - {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>

</body>
</html>